.Nav {
    display: flex;
    background-color: #282c34;
  height: 70px;
    
    padding-top: 1%;
    padding-bottom: 0.5%;
    align-items: center;
  }

  @media only screen and (max-width: 1100px) {
    .Nav {
      flex-direction: column;
      padding-top: 0;
    }
  }